{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SARA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <section class="flex flex-col items-center justify-center h-screen space-y-8">
        <h1 class="text-5xl font-bold text-gray-800">
            SARA – Wikimedia Colombia
        </h1>

        <a href="{% url 'calendario' %}"
           class="px-8 py-4 bg-indigo-600 hover:bg-indigo-700 text-white text-lg font-semibold rounded-xl shadow-lg transition duration-200">
            📅 Ver calendario
        </a>
    </section>
</body>
</html>
